
h1 {
    background-color: black;
    text-align: left; 
}
.white{
    font-weight: bold;
    color:white
}
    


h2{
    background-color: rgb(104, 2, 104);
    text-align: center;
}
.white2 {
    color: white;
    font-style: italic;
    font-weight:lighter; 
}   


h3{
    background-color: rgb(98, 171, 219);
    text-align: right;
    text-decoration: underline;
}


.darkpurple {
    color: rgb(19, 11, 68); 
};

